# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.scale.c
out.c
out.h
scale_interop.h
out.typeinfo.h
*.wasm
*.js
*.S
*.s
scale_*.c
scale_*.h
sclc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.scl

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
test.txt
.vscode
.fleet
private
private-tests
build
makebin
compile
experimental
gen.js
scale_support.h
scale-symbol-table.txt
.chglog
target/

# Build
Dragon
e.sh
e.c
e.cpp
foo.c

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*DS_Store*
scale.vscodeextension/.DS_Store
ErrorMessages.txt
msg.md
scale_trace.log
.chglog
Dragon/
e.java
scale-find-virtual-calls
scale-find-virtual-calls.c
*.smod
changes.md
utf8.h
e.log
install-sclc
._*
scale.vscodeextension/.DS_Store
.idea
